<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="app-container">
    <header><a name="app"></a>
        <div class="menu">
        <ul>
            <li><a href="curs.hbs">На главную</a></li>
            <li><a href="mihalka.hbs">Михалковская</a></li>
            <li><a href="#burger">Бургеры</a></li>
            <li><a href="#tvister">Твистеры</a></li>
            <li><a href="#kurica">Курица</a></li>
            <li><a href="#basket">Баскеты</a></li>
            <li><a href="#napitki">Напитки</a></li>
            <li><a href="#deserti">Десерты</a></li>
        </ul>
        </div>
    </header>
<div class="Grid-container">
<font size="5"><img src="cafeMihalka/icons/KFC.png" alt="" width="37" height="37">КФС</font>
<div class="br">
<font size="4"><a name="burger">Бургеры</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
<br>
<br>
<div class="Section-root">
<div class="row">
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafeMihalka/KFC/burger/jun.png" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Шефбургер Джуниор</h4>
                                            <h5><font color="#f7e759"><span class="item_price">99</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafeMihalka/KFC/burger/luk.png" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Чизбургер с Луком</h4>
                                            <h5><font color="#f7e759"><span class="item_price">69</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafeMihalka/KFC/burger/ostr.png" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Шефбургер Джуниор Острый</h4>
                                            <h5><font color="#f7e759"><span class="item_price">99</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
</div>
</div>
</div>
<div class="br">
<font size="4"><a name="tvister">Твистеры</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
</svg>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/KFC/tvisteri/bigmaster.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Боксмастер со Cтрипсами</h4>
                                                <h5><font color="#f7e759"><span class="item_price">194</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/KFC/tvisteri/itwister.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Айтвистер</h4>
                                                <h5><font color="#f7e759"><span class="item_price">55</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/KFC/tvisteri/twisterostr.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Твистер Острый</h4>
                                                <h5><font color="#f7e759"><span class="item_price">159</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
<div class="br">
    <font size="4"><a name="kurica">Курица</a></font>
    <a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
    </svg>
    <br>
    <br>
    <div class="Section-root">
        <div class="row">
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafeMihalka/KFC/kurica/stripsi.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Стрипсы оригинальные</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">114</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafeMihalka/KFC/kurica/nogi.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Ножки</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">104</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafeMihalka/KFC/kurica/krilia.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Крылья</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">124</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="br">
    <font size="4"><a name="basket">Баскеты</a></font>
    <a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
    </svg>
    <br>
    <br>
    <div class="Section-root">
        <div class="row">
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafeMihalka/KFC/basket/basket5.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Баскет 5 Ножек</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">349</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafeMihalka/KFC/basket/basketM.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Баскет M</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">544</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafeMihalka/KFC/basket/domashnii.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Домашний Баскет</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">699</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="br">
<font size="4"><a name="napitki">Напитки</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/KFC/napitki/mirinda.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Mirinda</h4>
                                                <h5><font color="#f7e759"><span class="item_price">65</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/KFC/napitki/lipton.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Чай Липтон Зеленый</h4>
                                                <h5><font color="#f7e759"><span class="item_price">65</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/KFC/napitki/aqua.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Aqua Minerale 0,5 л (без газа)</h4>
                                                <h5><font color="#f7e759"><span class="item_price">84</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
<div class="br">
<font size="4"><a name="deserti">Десерты</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/KFC/deserti/blini.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Пирожок Малина-Черника</h4>
                                                <h5><font color="#f7e759"><span class="item_price">50</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/KFC/deserti/donat.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Донат Яблоко-Корица</h4>
                                                <h5><font color="#f7e759"><span class="item_price">69</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/KFC/deserti/pirozok.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Шоколадный пирожок</h4>
                                                <h5><font color="#f7e759"><span class="item_price">50</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>