<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="app-container">
    <header><a name="app"></a>
        <div class="menu">
        <ul>
            <li><a href="curs.hbs">На главную</a></li>
            <li><a href="mihalka.hbs">Михалковская</a></li>
            <li><a href="#pizza">Пицца</a></li>
            <li><a href="#zakuski">Закуски</a></li>
            <li><a href="#combo">Наборы</a></li>
            <li><a href="#napitki">Напитки</a></li>
            <li><a href="#deserti">Десерты</a></li>
        </ul>
        </div>
    </header>
<div class="Grid-container">
<font size="5"><img src="cafeMihalka/icons/PH.png" alt="" width="37" height="37">Pizza Hut</font>
<div class="br">
<font size="4"><a name="pizza">Пицца</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
<br>
<br>
<div class="Section-root">
<div class="row">
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafeMihalka/PH/pizza/myas.jpg" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Супер Мясная 30см</h4>
                                            <h5><font color="#f7e759"><span class="item_price">749</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafeMihalka/PH/pizza/sir.jpg" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Четыре Сыра 30см</h4>
                                            <h5><font color="#f7e759"><span class="item_price">699</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafeMihalka/PH/pizza/teri.jpg" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Терияки 30см</h4>
                                            <h5><font color="#f7e759"><span class="item_price">699</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
</div>
</div>
</div>
<div class="br">
<font size="4"><a name="zakuski">Закуски</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
</svg>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/PH/zakuski/nagg.jpg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Наггетсы 4 шт</h4>
                                                <h5><font color="#f7e759"><span class="item_price">99</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/PH/zakuski/roll.jpg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Хат Ролл</h4>
                                                <h5><font color="#f7e759"><span class="item_price">159</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/PH/zakuski/sos.jpg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Хат Догс</h4>
                                                <h5><font color="#f7e759"><span class="item_price">319</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
<div class="br">
    <font size="4"><a name="combo">Наборы</a></font>
    <a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
    </svg>
    <br>
    <br>
    <div class="Section-root">
        <div class="row">
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafeMihalka/PH/nabori/3pizz.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">3 пиццы</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">990</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafeMihalka/PH/nabori/5pizz.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Мясной Характер Макси</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">2999</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafeMihalka/PH/nabori/all.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Набор Эпический</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">1990</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="br">
<font size="4"><a name="napitki">Напитки</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/PH/napitki/lipton.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Липтон Айс Ти</h4>
                                                <h5><font color="#f7e759"><span class="item_price">99</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/PH/napitki/mirinda.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Миринда</h4>
                                                <h5><font color="#f7e759"><span class="item_price">139</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/PH/napitki/pepsi.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Пепси Черри</h4>
                                                <h5><font color="#f7e759"><span class="item_price">99</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
<div class="br">
<font size="4"><a name="deserti">Десерты</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/PH/desetri/chez.jpg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Чизкейк New-York</h4>
                                                <h5><font color="#f7e759"><span class="item_price">149</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/PH/desetri/pirog.jpg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Грушевый пирог</h4>
                                                <h5><font color="#f7e759"><span class="item_price">149</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafeMihalka/PH/desetri/tort.jpg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Морковный торт</h4>
                                                <h5><font color="#f7e759"><span class="item_price">149</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>