<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="app-container">
    <header><a name="app"></a>
        <div class="menu">
        <ul>
            <li><a href="curs.hbs">На главную</a></li>
            <li><a href="pryaniki.hbs">Прянишникова</a></li>
            <li><a href="#sandwich">Сэндвичи</a></li>
            <li><a href="#roll">Роллы</a></li>
            <li><a href="#salati">Салаты</a></li>
            <li><a href="#napitki">Напитки</a></li>
            <li><a href="#deserti">Десерты</a></li>
        </ul>
        </div>
    </header>
<div class="Grid-container">
<font size="5"><img src="cafePryanik/icons/sub.png" alt="" width="40" height="40">Subway</font>
<div class="br">
<font size="4"><a name="sandwich">Сэндвичи</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
<br>
<br>
<div class="Section-root">
<div class="row">
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafePryanik/Sub/sand/big.jpeg" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Сэндвич Биф Клаб Мелт</h4>
                                            <h5><font color="#f7e759"><span class="item_price">209</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafePryanik/Sub/sand/italia.jpeg" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Сэндвич Острый итальянский</h4>
                                            <h5><font color="#f7e759"><span class="item_price">199</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafePryanik/Sub/sand/melt.jpeg" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Сэндвич Сабвэй Мелт</h4>
                                            <h5><font color="#f7e759"><span class="item_price">209</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
</div>
</div>
</div>
<div class="br">
<font size="4"><a name="roll">Роллы</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
</svg>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePryanik/Sub/roll/bekon.jpeg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Ролл Курица бекон</h4>
                                                <h5><font color="#f7e759"><span class="item_price">209</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePryanik/Sub/roll/teriaki.jpeg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Ролл Курица Терияки</h4>
                                                <h5><font color="#f7e759"><span class="item_price">209</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePryanik/Sub/roll/ind.jpeg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Ролл Индейка</h4>
                                                <h5><font color="#f7e759"><span class="item_price">185</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
<div class="br">
    <font size="4"><a name="salati">Салаты</a></font>
    <a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
    </svg>
    <br>
    <br>
    <div class="Section-root">
        <div class="row">
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafePryanik/Sub/salati/bekon.jpeg" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Салат Курица Бекон</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">209</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafePryanik/Sub/salati/chicken.jpeg" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Салат Чикен Клаб</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">199</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafePryanik/Sub/salati/italya.jpeg" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Салат Острый итальянский</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">199</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="br">
<font size="4"><a name="napitki">Напитки</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePryanik/Sub/napitki/fuzetea.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Чай Fuzetea</h4>
                                                <h5><font color="#f7e759"><span class="item_price">85</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePryanik/Sub/napitki/pulpy.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Сок Добрый Pulpy</h4>
                                                <h5><font color="#f7e759"><span class="item_price">89</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePryanik/Sub/napitki/sok.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Сок Добрый</h4>
                                                <h5><font color="#f7e759"><span class="item_price">65</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
<div class="br">
<font size="4"><a name="deserti">Десерты</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePryanik/Sub/deserti/keks.jpeg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Маффин</h4>
                                                <h5><font color="#f7e759"><span class="item_price">85</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePryanik/Sub/deserti/pech.jpeg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Кукис тройной</h4>
                                                <h5><font color="#f7e759"><span class="item_price">85</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePryanik/Sub/deserti/ponch.jpeg" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Донат</h4>
                                                <h5><font color="#f7e759"><span class="item_price">85</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>