<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="app-container">
    <header><a name="app"></a>
        <div class="menu">
        <ul>
            <li><a href="curs.hbs">На главную</a></li>
            <li><a href="pavla.hbs">Павла Корчагина</a></li>
            <li><a href="#rolli">Роллы</a></li>
            <li><a href="#sashimi">Сашими</a></li>
            <li><a href="#sup">Супы</a></li>
            <li><a href="#gor">Горячее</a></li>
            <li><a href="#napitki">Напитки</a></li>
            <li><a href="#deserti">Десерты</a></li>
        </ul>
        </div>
    </header>
<div class="Grid-container">
<font size="5"><img src="cafePavla/icons/tanuki.png" alt="" width="40" height="37">Тануки</font>
<div class="br">
<font size="4"><a name="rolli">Роллы</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
<br>
<br>
<div class="Section-root">
<div class="row">
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafePavla/tanuki/roll/KaliHott.png" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Калифорния хот</h4>
                                            <h5><font color="#f7e759"><span class="item_price">450</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafePavla/tanuki/roll/naruto.png" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Наруто</h4>
                                            <h5><font color="#f7e759"><span class="item_price">420</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
    <div class="col-4">
        <div class="Section-block">
            <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                    <img src="cafePavla/tanuki/roll/teplkrab.png" width="400px" height="300px">
                    <div class="RichBlock-contentWrap">
                            <div class="RichBlock-content">
                                    <div class="RichBlock-title">
                                        <div class="item_box">
                                            <h4 class="item_title">Теплый краб</h4>
                                            <h5><font color="#f7e759"><span class="item_price">370</span>&#8381</font></h5>
                                            <button class="add_item" data-id="1">Добавить в корзину</button>
                                        </div>
                                    </div>
                            </div>
                    </div>
            </article>
    </div>
    </div>
</div>
</div>
</div>
<div class="br">
<font size="4"><a name="sashimi">Сашими</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
</svg>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePavla/tanuki/sashimi/losos.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Лосось</h4>
                                                <h5><font color="#f7e759"><span class="item_price">365</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePavla/tanuki/sashimi/ygor.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Угорь</h4>
                                                <h5><font color="#f7e759"><span class="item_price">395</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePavla/tanuki/sashimi/zhelt.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Желтохвост</h4>
                                                <h5><font color="#f7e759"><span class="item_price">415</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
<div class="br">
    <font size="4"><a name="sup">Супы</a></font>
    <a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
    </svg>
    <br>
    <br>
    <div class="Section-root">
        <div class="row">
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafePavla/tanuki/sup/miso.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Мисо суп</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">115</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafePavla/tanuki/sup/ramen.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Рамен с курицей</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">395</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafePavla/tanuki/sup/TanukiYam.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Тануки-ям</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">445</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="br">
    <font size="4"><a name="gor">Горячее</a></font>
    <a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
    </svg></a>
    </svg>
    <br>
    <br>
    <div class="Section-root">
        <div class="row">
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafePavla/tanuki/gor/funchoza.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Фунчоза с креветками</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">360</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafePavla/tanuki/gor/krev.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Креветки в хрустящем тесте</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">395</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
            <div class="col-4">
                <div class="Section-block">
                    <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                            <img src="cafePavla/tanuki/gor/medalion.png" width="400px" height="300px">
                            <div class="RichBlock-contentWrap">
                                    <div class="RichBlock-content">
                                            <div class="RichBlock-title">
                                                <div class="item_box">
                                                    <h4 class="item_title">Медальон «Кальби»</h4>
                                                    <h5><font color="#f7e759"><span class="item_price">525</span>&#8381</font></h5>
                                                    <button class="add_item" data-id="1">Добавить в корзину</button>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </article>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="br">
<font size="4"><a name="napitki">Напитки</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePavla/tanuki/napitki/apelsin.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Апельсиновый сок</h4>
                                                <h5><font color="#f7e759"><span class="item_price">180</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePavla/tanuki/napitki/aqua.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Аква минерале с газом</h4>
                                                <h5><font color="#f7e759"><span class="item_price">160</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePavla/tanuki/napitki/pepsi.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Пепси</h4>
                                                <h5><font color="#f7e759"><span class="item_price">170</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
<div class="br">
<font size="4"><a name="deserti">Десерты</a></font>
<a href="#app" style="color: black"><svg class="bi bi-caret-up" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
</svg></a>
<br>
<br>
<div class="Section-root">
    <div class="row">
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePavla/tanuki/deserti/ananas.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Спелый ананас</h4>
                                                <h5><font color="#f7e759"><span class="item_price">395</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePavla/tanuki/deserti/KuroYoru.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Куро ёру</h4>
                                                <h5><font color="#f7e759"><span class="item_price">295</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
        <div class="col-4">
            <div class="Section-block">
                <article class="RichBlock-root RichBlock-is1to3 RichBlock-isRich">
                        <img src="cafePavla/tanuki/deserti/tiramisu.png" width="400px" height="300px">
                        <div class="RichBlock-contentWrap">
                                <div class="RichBlock-content">
                                        <div class="RichBlock-title">
                                            <div class="item_box">
                                                <h4 class="item_title">Тирамису</h4>
                                                <h5><font color="#f7e759"><span class="item_price">280</span>&#8381</font></h5>
                                                <button class="add_item" data-id="1">Добавить в корзину</button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </article>
        </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>